
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Roboto+Mono:wght@700&family=Sarala:wght@700&display=swap'); */

*{
  
  text-decoration: none;
}

p{
    color: rgb(132, 61, 7);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 30x;
}
h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    

}

/* .apresentation p{
    color: black;
} */
.logo-img{
    width: 80px;
}


.slogan{
    color: white;
    font-size: 30px;
    justify-content: right;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:rgb(132, 61, 7);
    margin-top: 0;
    padding: 16px;
    text-align: center;
}

.logo{
    width: 100px;
    padding: 20px;
    margin: 3px;
    border-radius: 30%;
    height: 80px;
} 

body{
    margin-top: 32px;
    
}


 /* .cabecalho{ */ 
    /* display: flex;
    background-color:white;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    font-family: 'Sarala', sans-serif;
    */
/* } */

/* .cabecalho_menu_item{
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    background-color:rgb(132, 61, 7);
    color: white;
    
k
} */


/* ul{
    list-style: none;
}
.services, li {
justify-content: space-between;

}

#id{
    margin-top: 0;
    margin-bottom: 0;
} */
footer{
    background-color: rgb(132, 61, 7);
    padding: 18px;
    
}
h6{
    color: white;
}
 